<section class="d-flex flex-column align-items-center">
    <h2 class="text-center">Create A New Question</h2>
    <form id="new-question-form" style="width: 30rem;" >
        <div class="mb-3">
            <label for="question-title" class="form-label">Title</label>
            <input type="text" class="form-control" id="question-title" name="question-title">
        </div>
        <div class="mb-3">
            <label for="question-content" class="form-label">Question</label>
            <textarea class="form-control" id="question-content" name="question-content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary">Create</button>
    </form>

</section>

{{#if questions.length}}
<section>
    <h2 class="text-center">Your Questions</h2>
    <ol>
        {{#each questions as |question|}}
        <li>
            {{> question-info question}}
            <a href="/dashboard/edit/{{question.id}}">Edit Question</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-question.js"></script>