<section class="d-flex flex-column align-items-center">
    <h2 class="text-center">Login</h2>
    <form id="login-form" style="width: 30rem;">
        <div class="mb-3">
            <label for="email-login" class="form-label">Email</label>
            <input type="text" class="form-control" id="email-login" name="email-login">
        </div>
        <div class="mb-3">
            <label for="password-login" class="form-label">Password</label>
            <input class="form-control" id="password-login" name="password-login" rows="3"></input>
        </div>
        <button type="submit" class="btn btn-outline-primary">Login</button>
    </form>

    <h2 class="text-center">Register</h2>
    <form id="signup-form" style="width: 30rem;">
        <div class="mb-3">
            <label for="username-signup" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-signup" name="username-signup" rows="3"></input>
        </div>
        <div class="mb-3">
            <label for="email-signup" class="form-label">Email</label>
            <input type="text" class="form-control" id="email-signup" name="email-signup">
        </div>
        <div class="mb-3">
            <label for="password-signup" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-signup" name="password-signup" rows="3"></input>
        </div>
        <button type="submit" class="btn btn-outline-primary">Register</button>
    </form>
</section>



<script src="/javascript/login.js"></script>