<article class="question">
    {{> question-info question}}
<div class="d-flex justify-content-center">
    <button type="button" class="question-vote-btn btn btn-outline-success">vote</button>
</div>
</article>



{{#if loggedIn}}
<div class="d-flex flex-column align-items-center mt-3">
    <h2 class="text-center">Post An Answer</h2>
    <form class="answer-form" style="width: 30rem;">
        <div class="mb-3">
            <textarea class="form-control" id="answer-body" name="answer-body"></textarea>
        </div>
        <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-primary">add answer</button>
        </div>
    </form>
</div>
{{/if}}
{{!-- Modal  --}}
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vote Duplicate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> That is great you like this Question so much you would like to vote again. Unfortunately, we only allow one vote per account </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-4">
    <div style="height:400px;width:600px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
        {{> answer question.answers}}
    </div>
</div>



{{#if loggedIn}}
<script src="/javascript/answer.js"></script>
<script src="/javascript/vote.js"></script>
{{/if}}