<article class="question">
    {{> question-info question}}
</article>



{{#if loggedIn}}
<form class="answer-form">
    <div>
        <textarea name="answer-body"></textarea>
    </div>

    <div>
        <button type="submit">add answer</button>
        <button type="button" class="vote-btn">vote</button>
    </div>
</form>
{{/if}}

{{> answer question.answers}}

{{#if loggedIn}}
<script src="/javascript/answer.js"></script>
<script src="/javascript/vote.js"></script>
{{/if}}